<div class="service-part">
  <span><%= paginate @photoposts %></span>
  <span>
    <%= form_with url: search_user_path, class: 'search-form' do |f| %>
      <%= f.text_field :search %>
      <%= f.submit 'Search' %>
    <% end %>
  </span>
  <span>
    <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort by
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="dropdown-item"><%= link_to 'By upload date ▼ ', root_path({order_by: 'created_at', order_type: 'desc'}) %></div>
      <div class="dropdown-item"><%= link_to 'By upload date ▲ ', root_path({order_by: 'created_at', order_type: 'asc'}) %></div>
      <div class="dropdown-item"><%= link_to 'By rating ▼ ', root_path({order_by: 'rating_count', order_type: 'desc'}) %></div>
      <div class="dropdown-item"><%= link_to 'By rating ▲ ', root_path({order_by: 'rating_count', order_type: 'asc'}) %></div>
      <div class="dropdown-item"><%= link_to 'By comments ▼ ', root_path({order_by: 'comments_count', order_type: 'desc'}) %></div>
      <div class="dropdown-item"><%= link_to 'By comments ▲ ', root_path({order_by: 'comments_count', order_type: 'asc'}) %></div>
    </div></span>
</div>
<div class="md-col-5">
  <% if @photoposts.any? %>
    <div class="main-page-table">
      <%= render @photoposts %>
    </div>
    <%= paginate @photoposts %>
  <% end %>
</div>