<% if (photopost_counter%3).zero? %>
  <div class="photopost-line">
<% end %>
  <div id="photopost" class="photopost-<%= photopost.id %>">
    <div class="content">
      <% if params[:controller] == 'users' && photopost.aasm_state != 'approved'%>
        <h6> <%= photopost.aasm_state %></h6>
      <% else %>
        <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ...
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class="dropdown-item"><%= link_to 'Report', report_path(photopost.user, photopost_id: photopost.id), photopost_id: photopost.id %></div>
        </div>
      <% end %>
      <div class="image-content" data-id="<%= photopost.id %>">
        <% if photopost.picture? %>
          <%= link_to(image_tag(photopost.picture.url, class: 'photo'), "#myModal-#{photopost.id}", data:{toggle:"modal"}) if params[:controller] == 'main_pages' %>
          <%= link_to(image_tag(photopost.picture.users.url, class: 'photo'), "#myModal-#{photopost.id}", data:{toggle:"modal"}) if params[:controller] == 'users' %>
        <% end %>
      </div>
      <h5 class="text-content"><%= photopost.content %></h5>
    </div>
    <div id="myModal-<%= photopost.id %>" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <p><%= photopost.content %></p>
          </div>
          <div class="modal-body">
            <%= image_tag(photopost.picture.url, style: "max-width: 700px; max-height: 700px;") %>
          </div>
        </div>
      </div>
    </div>
    <ul class="icon-list">
      <li class="left">
        <h6 class="timestamp">
          Posted <%= time_ago_in_words(photopost.created_at) %> ago.
        </h6>
        <%= link_to image_tag(photopost.user.image, class: 'avatar') + ' ' + photopost.user.first_name, photopost.user %>
      </li>
      <li class="right">
        <span class="likes-<%= photopost.id %>">
          <% if check_likes(photopost) %>
            <%= form_with(url: photopost_ratings_path(photopost), class: 'like', method: 'delete', authenticity_token: authenticity_token) do |f|%>
            <span class="likes-counter">
              <%= photopost.rating.count %>
              <%= f.submit '', type: :image, src: image_path('filled_heart.svg'), class: 'icon', method: 'delete'%>
            </span>
            <% end %>
          <% else %>
            <%= form_with url: photopost_ratings_path(photopost), class: "like", authenticity_token: authenticity_token do |f|%>
            <span class="likes-counter">
              <%= photopost.rating.count %>
              <%= f.submit '', type: :image, src: image_path('heart.svg'), class: 'icon', method: 'post'%>
            </span>
            <% end %>
          <% end %>
        </span>
        <span class="comments">
          <%= photopost.comments.count %>
          <%= link_to image_tag(image_path('comment.svg'), class: 'icon'), photopost_path(photopost.id) %>
        </span>
      </li>
    </ul>
    <div class="last-comments">
      <% comments = photopost.comments.last(3) %>
      <% comments.each do |comment| %>
        <div class="comment">
          <%= link_to image_tag(comment.user.image, class: 'avatar', style: 'width: 5%'), comment.user %>
          <%= link_to comment.user.first_name, comment.user %>
          <%= comment.content %>
        </div>
      <% end %>
    </div>
  </div>
<% if (photopost_counter%3) == 2 %>
  </div>
<% end %>