<% if (photopost_counter%3).zero? %>
  <tr>
<% end %>
  <td id="photopost">
    <div class="content">
      <h6> <%= photopost.aasm_state %></h6>
      <h5 class="text-content"><%= photopost.content %></h5>
      <div class="image-content"><%= image_tag photopost.picture.url if photopost.picture? %></div>
    </div>
    <ul class="icon-list">
      <h6 class="timestamp">
        Posted <%= time_ago_in_words(photopost.created_at) %> ago.
      </h6>
      <li><ul>
        <li><%= link_to image_tag(photopost.user.image, class: 'avatar'), photopost.user %></li>
        <li><h4 class="user"><%= link_to photopost.user.first_name, photopost.user %></h4></li>
      </ul></li>
      <% if check_likes(photopost) %>
        <li><%= form_with(url: photopost_ratings_path(photopost), method: 'delete') do |f|%>
          <%= photopost.rating.count %>
          <%= f.submit '', type: :image, src: image_path('filled_heart.svg'), class: 'icon', method: 'delete'%>
        <% end %></li>
      <% else %>
        <li><%= form_with(url: photopost_ratings_path(photopost)) do |f|%>
          <%= photopost.rating.count %>
          <%= f.submit '', type: :image, src: image_path('heart.svg'), class: 'icon', method: 'post'%>
        <% end %></li>
      <% end %>
      <li>
        <%= photopost.comments.count %>
        <%= link_to image_tag(image_path('comment.svg'), class: 'icon'), photopost_path(photopost.id) %>
      </li>
    </ul>
  </td>
<% if photopost == @photoposts.last && !((@photoposts.count % 3).zero?) %>
  <% (3 - (@photoposts.count % 3)).times do %>
    <%= render 'photoposts/empty_photopost_cell' %>
  <% end %>
<% end %>