<% if (photopost_counter%3).zero? %>
  <tr>
<% end %>
  <td id="photopost" class="photopost-<%= photopost.id %>">
    <div class="content">
      <% if params[:controller] == 'users' %>
        <h6> <%= photopost.aasm_state %></h6>
      <% end %>
      <h5 class="text-content"><%= photopost.content %></h5>
      <div class="image-content">
        <% if photopost.picture? %>
          <%= image_tag photopost.picture.url if params[:controller] == 'main_pages' %>
          <%= image_tag photopost.picture.users.url if params[:controller] == 'users' %>
        <% end %>
      </div>
    </div>
    <ul class="icon-list">
      <h6 class="timestamp">
        Posted <%= time_ago_in_words(photopost.created_at) %> ago.
      </h6>
      <li><ul>
        <li><%= link_to image_tag(photopost.user.image, class: 'avatar'), photopost.user %></li>
        <li><h4 class="user"><%= link_to photopost.user.first_name, photopost.user %></h4></li>
      </ul></li>
      <li class="likes">
        <% if check_likes(photopost) %>
          <div class="likes-counter"><%= photopost.rating.count %></div>
          <%= link_to image_tag(image_path('filled_heart.svg'), class: 'icon'), photopost_unlike_path(photopost.id), method: :delete  %>
        <% else %>
          <div class="likes-counter"><%= photopost.rating.count %></div>
          <%= link_to image_tag(image_path('heart.svg'), class: 'icon'), photopost_like_path(photopost.id), method: :post %>
        <% end %>
      </li>
      <li class="comments">
        <%= photopost.comments.count %>
        <%= link_to image_tag(image_path('comment.svg'), class: 'icon'), photopost_path(photopost.id), onclick: "show_photopost()" %>
      </li>
    </ul>
  </td>
<% if photopost == @photoposts.last && !((@photoposts.count % 3).zero?) %>
  <% (3 - (@photoposts.count % 3)).times do %>
    <%= render 'photoposts/empty_photopost_cell' %>
  <% end %>
<% end %>