<li id="photopost-<%= photopost.id %>">
  <%= link_to image_tag(photopost.user.image, class: 'avatar'), photopost.user %>
  <h4 class="user"><%= link_to photopost.user.first_name, photopost.user %></h4>
  <h5 class="content"><%= photopost.content %></h5>
  <h6 class="timestamp">
    Posted <%= time_ago_in_words(photopost.created_at) %> ago.
  </h6>
  <ul class="icon-list">
    <% if check_likes(photopost) %>
      <li><%= form_with(url: photopost_ratings_path(photopost), method: 'delete') do |f|%>
        <%= photopost.rating.count %>
        <%= f.submit '', type: :image, src: image_path('filled_heart.svg'), class: 'icon', method: 'delete'%>
      <% end %></li>
    <% else %>
      <li><%= form_with(url: photopost_ratings_path(photopost)) do |f|%>
        <%= photopost.rating.count %>
        <%= f.submit '', type: :image, src: image_path('heart.svg'), class: 'icon', method: 'post'%>
      <% end %></li>
    <% end %>
    <li>
      <%= link_to image_tag(image_path('comment.svg'), class: 'icon'), photopost_path(photopost.id) %>
    </li>
  </ul>
</li>