<div class="post">
  <h4><%= @photopost.user.first_name %> <%= @photopost.user.last_name %></h4>
  <h6><%= time_ago_in_words(@photopost.created_at) %> ago</h6>
  <%= link_to image_tag(image_path(@photopost.picture), style: 'max-width: 800px; max-height: 800px'), @photopost.picture.url, target: '_blank' %>
  <h5><%= @photopost.content %></h5>
</div>
<div class="comments-list">
  <% if @comments.any? %>
    <%= paginate @comments %>
    <ul>
      <%= render @comments %>
    </ul>
    <%= paginate @comments %>
  <% end %>
</div>

<%= render 'comments/comment_form', path_to_create: photopost_comments_path(params[:id]) %>

<script>
    function show_form(comment_id){
        $(".form-"+comment_id)[0].style.display = "block";
    }
    function highlight(comment_id) {
        $('#comment-'+comment_id)[0].classList.add('hover');
        setTimeout(function () {
            $('#comment-'+comment_id)[0].classList.remove('hover');
        }, 3000)
    }
</script>