<div class="post">
  <h4><%= @photopost.user.first_name %> <%= @photopost.user.last_name %></h4>
  <h6><%= time_ago_in_words(@photopost.created_at) %> ago</h6>
  <%= image_tag(image_path(@photopost.picture)) %>
  <h5><%= @photopost.content %></h5>
</div>
<div class="comments">
  <% if @comments.any? %>
    <%= paginate @comments %>
    <ul>
      <%= render @comments %>
    </ul>
    <%= paginate @comments %>
  <% end %>
</div>

<%= render 'comments/comment_form', path_to_create: photopost_comments_path(params[:id]) %>