<li id="comment-<%= comment.id %>" class="comment">
  <h4 class="user"><%= link_to image_tag(comment.user.image.avatar.url, class: 'avatar'), comment.user %>
  <%= link_to comment.user.first_name, comment.user %></h4>
  <a href="#" class="dropdown-toggle right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ...
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div class="dropdown-item"><%= link_to 'Report', report_path(comment.user, reason_id: comment.id, report_reason: 'Comment'), reason_id: comment.id %></div>
  </div>
  <% unless comment.parent_id.nil? %>
    <h5>Reply to <%= link_to parent_comment(comment.parent_id), "#reply-#{comment.parent_id}", onmouseover: "highlight(#{comment.parent_id})"%> </h5>
  <% end %>
  <h5 class="content"><%= comment.content %></h5>
  <h6 class="timestamp">
    Posted <%= time_ago_in_words(comment.created_at) %> ago.
  </h6>
  <a name="reply-<%=comment.id %>" onclick="show_form(<%= comment.id %>)">Reply</a>
  <div class="form-<%= comment.id %>" style="display: none"><%= render 'comments/comment_form', path_to_create: photopost_comments_reply_path(@photopost.id, comment_id: comment.id) %></div>
</li>
