<div class="row">
  <aside class="col-md-4">
    <section>
      <%= image_tag @user.take_image, class: 'user-avatar' %>
      <h3><%= @user.first_name %> <%= @user.last_name %></h3>
      <h4><%= @user.photoposts.count %> uploads</h4>
      <% if @user.photoposts.any? %>
        <h6><%= @likes %> likes</h6>
      <% else %>
        <h6> 0 likes </h6>
      <% end %>
    </section>
    <% unless @achievements.empty? %>
      <section class="achievement-block">
        <span>Достижения</span>

        <div class="achievement">
          <span class="points"><%= @points %> очков достижений</span>
          <%= render @achievements %>
        </div>
      </section>
    <% end %>
  </aside>

  <div class="col-md-8">
    <% if @user == current_user && !@user.banned?%>
      <%= render 'photoposts/photopost_form' %>
    <% end %>
    <% if @user.photoposts.any? %>
      <h4>All your posts here:</h4>
      <%= paginate @photoposts %>
      <div class="main-page-table">
        <%= render @photoposts %>
      </div>
      <%= paginate @photoposts %>
    <% end %>
  </div>
</div>
