<header>
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Photo challenge",  root_path, id: 'logo'%>
      <ul class="nav navbar-nav navbar-right">

        <% if signed_in? %>

          <li class="avatar-link"><%= link_to image_tag(current_user.image.avatar.url), current_user, style: 'padding: 10px 0' %></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <div class="dropdown-menu" aria-labelledby="Dropdown">
              <div><%= link_to "Profile", current_user, class: 'dropdown-item' %></div>
              <div><%= link_to "Settings", edit_user_url(current_user), class: 'dropdown-item' %></div>
              <div class="dropdown-divider"></div>
              <div><%= link_to "Log out", signout_path, class: 'dropdown-item', method: :delete %></div>
            </div>
          </li>
          <li><%= link_to 'Upload photo', current_user %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign In
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <h5>Choose one to log in <br></h5>
              <div class="authorization">
                <%= link_to image_tag('vk.svg'), signin_path('vkontakte'), class: 'dropdown-item' %>
                <%= link_to image_tag('facebook.svg'), signin_path('facebook'), class: 'dropdown-item' %>
              </div>
            </div>
          </li>
        <% end %>
        <li><%= link_to 'Leaderboard', leaderboard_path %></li>
      </ul>
    </div>
  </div>
</header>